* {
    margin: 0px 0px 0px 0px;
}

#mainDiv {
    position: relative;
    width: 1336px;
    height: 5000px;
    margin-left: auto;
    margin-right: auto;
    background-color: firebrick;
}

/* Header / Plant overview */
#circleOverview {
    position: absolute;
    width: 93%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: royalblue;
    overflow-x: scroll;
}

#headerDiv {
    position: fixed; 
    left: auto;
    top: 0px;
    width: 1336px;
    height: 110px;
    background-color: antiquewhite;
}

.headerCircles {
    position: relative;
    display: inline-block;
    left: 10px;
    top: 8px;
    border: 2px solid red;
    width: 75px;
    height: 75px;
    background-color: pink;
    border-radius: 50%;
    overflow: hidden;
    
}

/* My plant */
#myPlantDiv {
    position: absolute;
    display: inline-block;
    width: 7%;
    height: 100%;
    right: 0px;
    left: 93%;
    top: 0px;
    background-color: rosybrown;
}

#myPlantCircle {
    position: absolute;
    top: 6% ;
    margin-left: 8%;
    border: 2px solid red;
    width: 75px;
    height: 75px;
    background-color: pink;
    border-radius: 50%;
    overflow: hidden;
}