* {
    margin: 0px 0px 0px 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#mainDiv {
    position: relative;
    width: 1336px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* Header / Plant overview */

#headerDiv {
    position: fixed; 
    left: auto;
    top: 0px;
    width: 1336px;
    height: 120px;
    overflow: hidden;
}

#headerFunctionsDiv {
    position: fixed; 
    left: auto;
    top: 0px;
    width: 16%;
    height: 120px;
    background-color: white;
}

#circleOverview {
    position: absolute;
    height: 120px;
    width: 76%;
    left: 16%;
    top: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: white;
    border-bottom: 2px solid #4c794a;
}

.circleDiv {
    position: relative;
    display: inline-block;
}

 .headerCircles {
    position: relative;
    display: inline-block;
    left: 10px;
    margin-right: 15px;
    top: 7px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    
} 
.circleTxt {
    position: absolute;
    text-align: center;
    width: 94px;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    top: 90px;
    left: 4px;
    z-index: 1;
    overflow-x: hidden;
    white-space: nowrap;
}


#newMemberC {
    position: relative;
    display: inline-block;
    left: 10px;
    margin-right: 15px;
    top: 8px;
    border: 2px solid #b6b6b6;
    width: 75px;
    height: 75px;
    background-color: #eeeeee;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

#viewAllC {
    position: relative;
    display: inline-block;
    left: 10px;
    margin-right: 15px;
    top: 8px;
    border: 2px solid #b6b6b6;
    width: 75px;
    height: 75px;
    background-image: url("../images/greenhouse.JPG");
    background-size: 120px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.deleteMemberBtn {
    position: absolute;
    width: 20px;
    left: 67px;
    top: 6px;
    z-index: 4;
    opacity: 0;
}

.deleteMemberBtn:hover {
    opacity: 1;
    cursor: pointer;
}



#plusIco {
    position: absolute;
    top: 16px;
    left: 28px;
    font-size: 30px;
    color: #b6b6b6;
    font-weight: 300;
    z-index: 100;
}

/* My plant */
#myPlantDiv {
    position: absolute;
    display: inline-block;
    padding-left: 3px;
    width: 8%;
    height: 100%;
    right: 0px;
    left: 92%;
    top: 0px;
    border-bottom: 3px solid #4c794a;
    cursor: pointer;
}

#myPlantCircle {
    position: absolute;
    padding-left: 10px;
    border: 2px solid #68c959;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    background-color: greenyellow;
}



/* BODY */

#bodyDiv {
    position: absolute;
    width: 1336px;
    height: 800px;
    margin-top: 113px;
    display: grid;

}

#quoteDiv {
    position: fixed;
    width: 1332px;
    height: 30px;
    left: auto;
    top: 123px;
    padding-top: 8px;
    padding-left: 5px;
    background-color: #87AB98;
}

#progressTxtDivs {
    position: absolute;
    left: 0;
    top: 50px;
    width: 900px;
    height: 40px;

}


.progressTxt {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #4c794a;
    
}

#txtBox1 {
    padding-right: 175px;
}

#txtBox2 {
    padding-right: 62px;
}

#progressBoard {
    width: 1000px;
}

.progressColumns {
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 5px;
    width: 290px;
    height: 485px;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    border: 1px solid #4c794a;
    z-index: 0;
}

    /* Feed */

    #feedHeader {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #4c794a;
        top: 180px;
        right: 256px;

    }

    #feedDiv {
        position: absolute;
        margin-left: 1010px;
        margin-top: 210px;
        border-radius: 2px;
        width: 300px;
        height: 370px;
        overflow-y: scroll;
        overflow-x: hide;
        background-color: #87AB98;
        font-weight: 200;
        border: 2px solid #4c794a;
    }

    .feedEl {
        position: relative;
        border-radius: 10px;
        background-color: white;
        padding: 5px;
        padding-top: 8px;
        padding-left: 10px;
        margin: 5px;
        width: 270px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        height: 20px;
    }
    

.open-button{
    position: absolute;
    right: 20px;
    top: 100px;
    border: 2px solid #4c794a;
    background-color: #87AB98;
    border-radius: 2px;
    color:white;
    padding:16px 20px;
    cursor:pointer;
    opacity: 1;
    width: 305px;
    font-size: 20px;
    font-weight: 500;
}

.form-popup{
    display: none;
    position:fixed;
    bottom: 130px;
    right: 550px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}



.form-container input[type=text]{
    width: 80%;
    padding:15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}

.form-container .btn{
    background-color:  #4caf50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor:pointer;
    width:100%;
    margin-bottom: 10px;
    opacity: 0.7;
}

.form-container .cancel{
    background-color: red;
}

.form-container .btn:hover, .open-button:hover{
    opacity: 0.8;
}

#toDoColumn{
    overflow: auto;
    font-size: 12px;
    cursor: grab;
}

.taskWrapper {
    position: absolute;
    background-color: teal;

    
}

.objectDiv {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    left: 8px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    width: 250px;
    min-height: 80px;
    border: 2px solid #abc1a9;;
    background-color: white;
    overflow-y: scroll;
    overflow-wrap: break-word;
    white-space: normal;
    border-radius: 10px;
    font-size: 12px;
    color: #242424;
}

.objectDiv:hover {
    cursor: grab;
}